# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/assets/media/piano/click.mp3
src/assets/media/piano/click.wav
src/assets/media/piano/index.js
src/assets/media/piano/sound_0.mp3
src/assets/media/piano/sound_1.mp3
src/assets/media/piano/sound_2.mp3
src/assets/media/piano/sound_3.mp3
src/assets/media/piano/sound_4.mp3
src/assets/media/piano/sound_5.mp3
src/assets/media/piano/sound_6.mp3
src/assets/media/piano/sound_7.mp3
src/assets/media/piano/sound_8.mp3
src/assets/media/piano/sound_9.mp3
src/assets/media/piano/sound_10.mp3
src/assets/media/piano/sound_11.mp3
src/assets/media/piano/sound_12.mp3
src/assets/media/piano/sound_13.mp3
src/assets/media/piano/sound_14.mp3
src/assets/media/piano/sound_15.mp3
src/assets/media/piano/sound_16.mp3
src/assets/media/piano/sound_17.mp3
src/assets/media/piano/sound_18.mp3
src/assets/media/piano/sound_19.mp3
src/assets/media/piano/sound_20.mp3
src/assets/media/piano/sound_21.mp3
src/assets/media/piano/sound_22.mp3
src/assets/media/piano/sound_23.mp3
src/assets/media/piano/sound_24.mp3
src/assets/media/piano/sound_25.mp3
src/assets/media/piano/sound_26.mp3
src/assets/media/piano/sound_27.mp3
src/assets/media/piano/sound_28.mp3
src/assets/media/piano/sound_29.mp3
src/assets/media/piano/sound_30.mp3
src/assets/media/piano/sound_31.mp3
src/assets/media/piano/sound_32.mp3
src/assets/media/piano/sound_33.mp3
src/assets/media/piano/sound_34.mp3
src/assets/media/piano/sound_35.mp3
